@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    background-color: #ffe9a6;
    background: radial-gradient(circle, rgba(255, 186, 68, 0.5) 0%, rgba(133, 44, 7, 0.5) 100%);
    font-family: "Happy Monkey", cursive;
}

h1 { 
    color: #5b60b3;
}

h1, h2, h3, h4, h5, h6{
    font-size: 15px;
}

p{
    background-color: #fff2dc;
    color: #422a00;
}